<%= form_for(@mural) do |f| %>
  <% if @mural.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mural.errors.count, "error") %> prohibited this mural from being saved:</h2>

      <ul>
      <% @mural.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mensagem %><br>
    <%= f.text_area :mensagem %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
